body{
    background-color: cadetblue;
    color: white;
}

button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: yellow;
    font-size: large;
    color: red;
    margin-right: 20px;
    width: 70px;
}